body {
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    text-align: center;
    margin: 20px 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.centered-form input,
.centered-form button {
    margin: 5px;
    width: 200px; 
    padding: 10px; 
    text-align: center; 
}

h1 {
    color: #ff79c6;
}

h2 {
    color: #ff79c6; 
}

input[type="text"],
input[type="password"] {
    background-color: #444;
    color: #e0e0e0;
    border: 2px solid #ff79c6;
    padding: 10px;
    margin: 10px;
    width: 80%;
    max-width: 300px;
    font-family: 'Courier New', Courier, monospace;
}

button {
    background-color: #444;
    color: #e0e0e0;
    border: 2px solid #ff79c6;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    width: 80%;
    max-width: 300px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

header h1, main h2 {
    text-align: center;
}

button:hover {
    background-color: #ff79c6;
    color: #1a1a1a;
    transform: scale(1.05);
}

@media (min-width: 768px) {
    main {
        justify-content: center;
    }
}

input[type="text"],
button {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}