html, body {
    height: 100%;
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
    font-weight: bold;
    background-color: #1a1a1a;
    color: #f0f0f0;
}

body {
    display: flex;
    flex-direction: column;
}
header, footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
}

main {
    flex: 1;
    padding: 20px;
}
h1, h2 {
    color: #e0e0e0;
}

p {
    margin: 10px 0;
}


/* Ensure to include the Google Fonts link in your HTML head */